section {
    margin-left: 2rem;
}

header {
    margin-bottom: 2rem;
}

.fake-box {
    position: relative;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin-bottom: 60px;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 25px;
}



.fake-box:before, .fake-box:after {
    position: absolute;

}

.fake-box:before {
    left: 20px;
    top: 20px;
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid black;      
}
.fake-box:after {

}

.info-box{
    padding: 5px;
    width: 25%;
    display: inline;
    float: left;
    border: 2px solid black;
    margin-right: 20px;
    box-shadow: 5px 5px 2px rgba(50, 50, 50, 0.7);
}
