.fake-box {
    margin-left: -5px;
    width: 300px;
    height: 300px;
    padding: 40px;
    position: relative;
}

article {
    padding: 10px;
}

.fake-box:before, .fake-box:after {
    width: 300px;
    border: 1px solid black;
    height: 300px;
    content: "";
    display: block;
    position: absolute;
    padding: 10px;
}

.fake-box:after {
    left: 20px;
    top: 20px;
}

.info-box {
    width: 30%;
    margin: 15px;
    display: inline-block;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(83, 82, 82);
}